<h1>PROJEKAT</h1>

<app-log-in-page></app-log-in-page>
<app-register-profile></app-register-profile>
<app-user-profile></app-user-profile>
<!--app-user-home-page></app-user-home-page-->
<!--br/><br/><br/><br/><br/><br/><br/><br/-->

<!--button routerLink="/user-profile">Prikazi profil</button-->
<!--app-user-profile></app-user-profile-->
<!--button routerLink="air-company-profile">Profil Admina avio kompanije</button-->
<!--app-air-company-profile></app-air-company-profile-->
<router-outlet></router-outlet>
