<div class = "changePassword">
    <div class="row" >
        <b>Old password: </b> <input type="text" id="oldPassword">
    </div>
    <div>
        <label id="incorrect-password" style="visibility: hidden; color: brown;">Old password incorrect.</label> 
    </div>
    <div class="row" >
        <b>New Password: </b> <input type="text" id="new-password">
    </div><div class="row" >
        <b>Repeat Passwrod: </b> <input type="text" id="rnew-password">
    </div>
    <div>
        <label id="no-match-password" style="visibility: hidden; color: brown;"> Passwords don't match.</label> 
    </div>

    <button type="submit" class="btn" onClick="NewPassword()">Login</button>
    <button type="submit" class="btn cancel">Close</button>

</div>
