
<div class="plane-company-profile">
    <h4>Profil aviokompanije</h4>
    <div class="row" >
        <label for="company-name"><b>Ime aviokompanije:</b></label>
        <input type="text" placeholder={{companyName}} id="company-name">
    </div>
    <div class="row">
        <label for="company-address"><b>Adresa:</b></label>
        <input type="text" placeholder={{address}} id="company-address">
        <!--Posebno mesto za mapu adrese-->
    </div>

    <div class ="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Destinacije</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let destination of destinacije">
                    <td>
                        {{destination}}
                    </td>
                </tr>                
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="AddDestinations()">Dodaj destinacije</button>
                        <button type="button" class="btn btn-secondary" (click)="RemoveDestinations()">Izbriši destinacije</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="row">   
        <h6>Letovi</h6>     
        <table class="table table-hover" title="Letovi">
            <thead>
                <tr>
                    <th scope="col">Poletanje</th>
                    <th scope="col">Sletanje</th>
                    <th scope="col">Duzina leta</th>
                    <th scope="col">Razdaljina (km)</th>
                    <th scope="col">Cena karte(din)</th>
                    <th scope="col">Presedanja</th>
                    <th scope="col">Broj presedanja</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let flight of flights">
                    <td>{{flight.Departure}}</td>
                    <td>{{flight.TravelTime}}</td>   
                    <td>{{flight.TravelLength}}</td>
                    <td>{{flight.TicketPrice}}</td>                            
                    <td *ngFor="let changeoverDest of flight.ChangevoerDests">
                         {{changeoverDest}}
                    </td>
                    <td>{{flight.NumberOfChangeovers}}</td>
                </tr>                
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="EditFlights()">Uredi letove</button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="row">
            <h6>Karte na popustu za brzu rezervaciju:</h6>
            <table class="table table-hover" title="Brza rezervacija">
                <thead>
                    <tr>
                        <th scope="col">Cena(din)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let flight of flights">
                        <td>{{flight.TicketPrice}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
       
    </div>
    <div class="row">
        <h6>Konfiguracija sedista</h6>
        <button type="button">Uredi sedista na letu</button>
    </div>
    <div class="row">
        <h6>Prtljag: cene i informacije</h6>        
    </div>
</div>

<div class="bussiness-log">
    <h4>Poslovni izvestaj</h4>
    <label>Ocena aviokompanije od strane korisnika</label>
    <label>Prosecna ocena leta</label>

    <label>Graficki prikaz prodatih karata na dnevnom, nedeljnom i mesečnom nivou</label>   
    <ejs-chart id="chart-container" [primaryXAxis]='XAxis' [primaryYAxis]='YAxis' [title]='title'>
        <e-series-collection>
            <e-series [dataSource]='chartData' type='Column' xName='raspon' yName=prodatih name='Prodate karte na dnevnom, nedeljnom i mesecnom nivou'></e-series>           
        </e-series-collection>
    </ejs-chart>

    <label>Prihodi kompanije</label>
</div>

<div class="padmin-profile">
    <h4>Profil admina aviokompanije</h4>
    <!--form id="padmin-form"-->
        <div class="row" >
            <label for="padmin-name"><b>Ime:</b></label>
            <input type="text" placeholder="{{planeAdmin.name}}" id="padmin-name">
        </div>
        <div class="row">
            <label for="padmin-lastname"><b>Prezime:</b></label>
            <input type="text" placeholder="{{planeAdmin.lastname}}" id="padmin-lastname">
        </div>
        <div class="row">
            <label for="padmin-email"><b>Email:</b></label>
            <input type="text" placeholder="{{planeAdmin.email}}" id="padmin-email">
        </div>
        <div class="row">
            <label for="padmin-city"><b>Grad:</b></label>
            <input type="text" placeholder="{{planeAdmin.city}}" id="padmin-city">
        </div>
        <div class="row">
            <label for="padmin-phoneNumber"><b>Broj telefona:</b></label>
            <input type="text" placeholder="{{planeAdmin.phoneNumber}}" id="padmin-phoneNumber">
        </div> 
        <div>
            <button type="submit" (click)="editPlaneAdminProfile()">Sačuvaj izmene</button>
        </div>
    <!--/form-->
    
</div>