
<div class="plane-company-profile">
    <h4>Profil aviokompanije</h4>
    <div class="row" >
        <label for="company-name"><b>Ime aviokompanije:</b></label>
        <input type="text" id="company-name" >
    </div>
    <div class="row">
        <label for="company-address"><b>Adresa:</b></label>
        <!--google-map>
            <map-marker *ngFor="let marker of markers"
            [position] = "marker.position"
            [label] = "marker.label"
            [title] = "marker.title"
            [options] = "marker.options"
            >
            </map-marker>
        </google-map-->
        <input type="text" id="company-address" >
        <!--Posebno mesto za mapu adrese-->
    </div>
    <div class="row">
        <label for="company-promo"><b>Promotivni opis komanije</b></label>
        <input type="text" id="company-promo">
    </div>
    <div class ="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Destinacije</th>
                    <th scope="col">Ukloni destinacije</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let destination of destinations">
                    <td>{{destination.dest}}</td>
                    <td><button type="button" class="btn btn-secondary" (click)="RemoveDestinations(destination.dest)">Izbriši destinacije</button></td>
                </tr>                
            </tbody>
            <tfoot>
                <tr>                                        
                    <td>
                        <form (ngSubmit)='AddDestinations()' #addDestForm="ngForm" >              
                        <label for="newDest">Nova destinacija: </label>
                        <input type="text" id="newDest" name="newDest" ngModel #newDest="ngModel" required>                           
                        </form>
                        <button type="submit" class="btn btn-primary" [disabled]="!addDestForm.form.valid" (click)="AddDestinations()">Dodaj destinacije</button>                        
                    </td>
                </tr>
            </tfoot>
        </table>


    <div class="row">   
        <h6>Letovi</h6>     
        <table class="table table-hover" title="Letovi">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Poletanje</th>
                    <th scope="col">Sletanje</th>
                    <th scope="col">Duzina leta</th>
                    <th scope="col">Razdaljina (km)</th>
                    <th scope="col">Cena karte(din)</th>
                    <th scope="col">Cena karte na popustu</th>                    
                    <th scope="col">Broj presedanja</th>
                    <th scope="col">Presedanja</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let flight of flights">
                    <td>{{flight.flightID}}</td>
                    <td>{{flight.departureTime}}</td>
                    <td>{{flight.landingTime}}</td>
                    <td>{{flight.travelTime}}</td>   
                    <td>{{flight.travelLength}}</td>
                    <td>{{flight.ticketPrice}}</td>
                    <td>{{flight.newTicketPrice}}</td>                                               
                    <td>{{flight.numberOfChangeovers}}</td>
                    <td>
                        <ng-container *ngFor="let fd of flightDestinations">
                            <div *ngIf="fd.flightId==flight.flightID"> 
                              {{fd.destinationId}}
                            </div>                                               
                        </ng-container>                       
                   </td>
                </tr>                
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary"
                            data-toggle="modal" data-target="#flightEdit">Dodaj/Izmeni let</button>
                    </td>
                    <td>                    
                        <button type="button" class="btn btn-secondary"
                        data-toggle="modal" data-target="#flightRemove">Obrisi let</button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="row">
            <h6>Konfiguracija sedista</h6>
            <button type="button">Uredi sedista na letu</button>
        </div>
        <div class="row">
            <h6>Karte na popustu za brzu rezervaciju:</h6>
            <table class="table table-hover" title="Brza rezervacija">
                <thead>
                    <tr>
                        <th scope="col">ID leta</th>
                        <th scope="col">Cena(din)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let flight of flights">
                        <td *ngIf="flight.ticketDisctount == true">{{flight.flightID}}</td>
                        <td *ngIf="flight.ticketDisctount == true">{{flight.newTicketPrice}}</td>
                    </tr>
                </tbody>
            </table>
        </div>       
    </div>
    
    
    <div class="row">
        Prtljazi:
        <table class="table table-hover" title="Cenei informacije o prtljagu">
            <thead title="Prtljazi">
                <th>Cena </th>
                <th>Informacije </th>
                <th>Izbriši </th>
                <th>Izmeni</th>
            </thead>
            <tbody>
                <tr *ngFor="let lg of luggages">
                    <div *ngIf="lg.airCompany == airCompany.airCompanyId">
                        <td>{{lg.luggagePrice}}</td>
                        <td>{{lg.luggageDescription}}</td>
                        <td>
                            <button type="button" class="btn-secondary" data-toggle="modal" data-target="#luggageUpdate" (click)="saveLuggageId(lg.luggageID)"></button>
                        </td>
                        <td>
                            <button type="button" class="btn-secondary" (click)="deleteLuggage(lg.luggageID)"></button>
                        </td>
                        </div>
                </tr>
                <tr>
                    <button type="button" class="btn btn-secondary"
                    data-toggle="modal" data-target="#luggageAdd">Dodaj prtljag</button>
                </tr>
            </tbody>
        </table>              
    </div>
</div>
<br>/
<div class="bussiness-log">
    <h4>Poslovni izvestaj</h4><br/>
    <label>Ocena aviokompanije od strane korisnika: </label><br/>
    <label>Prosecna ocena leta : </label><br/>

    <label>Graficki prikaz prodatih karata na dnevnom, nedeljnom i mesečnom nivou</label>   
    <ejs-chart id="chart-container" [primaryXAxis]='XAxis' [primaryYAxis]='YAxis' [title]='title'>
        <e-series-collection>
            <e-series [dataSource]='chartData' type='Column' xName='raspon' yName=prodatih name='Prodate karte na dnevnom, nedeljnom i mesecnom nivou'></e-series>           
        </e-series-collection>
    </ejs-chart>

    <label>Prihodi kompanije</label>
</div>

<div class="padmin-profile">
    <h4>Profil admina aviokompanije</h4>
    <!--form id="padmin-form"-->
        <div class="row" >
            <label for="padmin-name"><b>Ime:</b></label>
            <input type="text" id="padmin-name">
        </div>
        <div class="row">
            <label for="padmin-lastname"><b>Prezime:</b></label>
            <input type="text" id="padmin-lastname">
        </div>
        <div class="row">
            <label for="padmin-email"><b>Email:</b></label>
            <input type="text"  id="padmin-email">
        </div>
        <div class="row">
            <label for="padmin-city"><b>Grad:</b></label>
            <input type="text"  id="padmin-city">
        </div>
        <div class="row">
            <label for="padmin-phoneNumber"><b>Broj telefona:</b></label>
            <input type="text" id="padmin-phoneNumber">
        </div> 
        <div>
            <button type="submit" (click)="editFlightAdminProfile()">Sačuvaj izmene</button>
            
        </div>
    <!--/form-->
    
</div>
<!----------------------POPUT WINDOWS-------------------------------->

<div class="modal fade" id="luggageUpdate" aria-labelledby="luggageUpdate" aria-hidden="true"  role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="luggageUpdate">Izmena podataka</h5>
            </div>
            <div class="modal-body">           
                <form (ngSubmit)='luggageUpdateFrom.form.valid && updateLuggageForm(flightFormDel)' #luggageUpdateFrom="ngForm" >              
                    <div class="form-group row"> 
                    <label for="luggagePriceUpdate" class="col-sm-4 col-form-label">Cena prtljaga: </label>
                        <div class="col-sm-8">
                            <input type="number" id="luggagePriceUpdate" name="luggagePriceUpdate" class="form-control" ngModel required #luggagePriceUpdate="ngModel">
                            <div *ngIf="luggageUpdateFrom.submitted && luggagePriceUpdate.invalid">
                                Unesite novu cenu prtljaga
                            </div>
                        </div>
                    </div>
                    <div class="form-group row"> 
                        <label for="luggageInfoUpdate" class="col-sm-4 col-form-label">Informacije prtljaga: </label>
                            <div class="col-sm-8">
                                <input type="text" id="luggageInfoUpdate" name="luggageInfoUpdate" class="form-control" ngModel required #luggageInfoUpdate="ngModel">
                                <div *ngIf="luggageUpdateFrom.submitted && luggageInfoUpdate.invalid">
                                    Unesite novu informaciju o prtljagu
                                </div>
                            </div>
                        </div>
                </form>
                <div class="modal-footer">
                <button type="button"  class="btn btn-primary" data-dismiss="modal">Odustani</button>
                <button type="submit" [disabled]="!luggageUpdateFrom.form.valid" class="btn btn-success" data-dismiss="modal" (click)="updateLuggage()">Sačuvaj izmene</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="luggageAdd" aria-labelledby="luggageAdd" aria-hidden="true"  role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="luggageAdd">Izmena podataka</h5>
            </div>
            <div class="modal-body">           
                <form (ngSubmit)='luggageFormAdd.form.valid && AddLuggage(luggageFormAdd)' #luggageFormAdd="ngForm" >              
                    <div class="form-group row"> 
                    <label for="luggageIdAdd" class="col-sm-4 col-form-label">ID prtljaga </label>
                        <div class="col-sm-8">
                            <input type="number" id="luggageIdAdd" name="luggageIdAdd" class="form-control" ngModel required #luggageIdAdd="ngModel">
                            <div *ngIf="luggageFormAdd.submitted && luggageIdAdd.invalid">
                                Unesite ID prtljaga
                            </div>
                        </div>
                    </div>
                    <div class="form-group row"> 
                        <label for="luggagePriceAdd" class="col-sm-4 col-form-label">Cena  prtljaga </label>
                            <div class="col-sm-8">
                                <input type="number" id="luggagePriceAdd" name="luggagePriceAdd" class="form-control" ngModel required #luggagePriceAdd="ngModel">
                                <div *ngIf="luggageFormAdd.submitted && luggagePriceAdd.invalid">
                                    Unesite cenu prtljaga
                                </div>
                            </div>
                        </div>
                        <div class="form-group row"> 
                            <label for="luggageInfoAdd" class="col-sm-4 col-form-label">Informacije o prtljagu </label>
                                <div class="col-sm-8">
                                    <input type="text" id="luggageInfoAdd" name="luggageInfoAdd" class="form-control" ngModel required #luggageInfoAdd="ngModel">
                                    <div *ngIf="luggageFormAdd.submitted && luggageInfoAdd.invalid">
                                        Unesite informacije za prtljag
                                    </div>
                                </div>
                            </div>
                </form>
                <div class="modal-footer">
                <button type="button"  class="btn btn-primary" data-dismiss="modal">Odustani</button>
                <button type="submit" [disabled]="!luggageFormAdd.form.valid" class="btn btn-success" data-dismiss="modal" (click)="AddLuggageToDB()">Sačuvaj izmene</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="flightRemove" aria-labelledby="flightRemove" aria-hidden="true"  role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="flightRemove">Izmena podataka</h5>
            </div>
            <div class="modal-body">           
                <form (ngSubmit)='flightFormDel.form.valid && onFlightDel(flightFormDel)' #flightFormDel="ngForm" >              
                    <div class="form-group row"> 
                    <label for="flightIdDel" class="col-sm-4 col-form-label">ID leta: </label>
                        <div class="col-sm-8">
                            <input type="number" id="flightIdDel" name="flightIdDel" class="form-control" ngModel required #flightIdDel="ngModel">
                            <div *ngIf="flightFormDel.submitted && flightIdDel.invalid">
                                Unesite ID leta
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                <button type="button"  class="btn btn-primary" data-dismiss="modal">Odustani</button>
                <button type="submit" [disabled]="!flightFormDel.form.valid" class="btn btn-success" data-dismiss="modal" (click)="DeleteFlight()">Sačuvaj izmene</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="flightEdit" aria-labelledby="flightEdit" aria-hidden="true"  role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="flightEdit">Izmena podataka</h5>
            </div>
            <div class="modal-body">           
                <form (ngSubmit)='flightForm.form.valid && onFlightSubmit(flightForm)' #flightForm="ngForm" >Bitno: Ukoliko Id Ne postoji, kreirace se novi. Ukoliko unesete postojeci Id, promenicete podatke postojeceg leta!         
                    <div class="form-group row"> 
                    <label for="flightId" class="col-sm-4 col-form-label">ID leta: </label>
                        <div class="col-sm-8">
                            <input type="number" id="flightId" name="flightId" class="form-control" ngModel required #flightId="ngModel">
                            <div *ngIf="flightForm.submitted && flightId.invalid">
                                Unesite ID leta
                            </div>
                        </div>
                        </div>
        
                    <div class="form-group row">
                    <label for="departure" class="col-sm-4 col-form-label">Poletanje: </label>
                        <div class="col-sm-8">
                            <input type="datetime-local" class="form-control" id="departure" name="departure" ngModel required #departure="ngModel">
                            <div *ngIf="flightForm.submitted && departure.invalid">
                            Unesite polazak leta
                            </div>
                        </div>
                    </div>
        
                    <div class="form-group row">
                    <label for="landing" class="col-sm-4 col-form-label">Vreme sletanja: </label>
                        <div class="col-sm-8">
                            <input type="datetime-local" class="form-control" id="landing" name="landing" ngModel required #landing="ngModel">
                            <div *ngIf="flightForm.submitted && landing.invalid">
                                Unesite vreme sletanja
                            </div>
                        </div>
                    </div>                        
    
                    <div class="form-group row">
                    <label for="ticketPrice" class="col-sm-4 col-form-label">Cena karte: </label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="ticketPrice" name="ticketPrice" ngModel required #ticketPrice="ngModel">
                            <div *ngIf="flightForm.submitted && ticketPrice.invalid">
                            Unesite standardnu cenu karte
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="discount" class="col-sm-4 col-form-label">Karte na popustu?: </label>
                            <div class="col-sm-8">
                                <input type="checkbox" class="form-control" id="discount" name="discount" ngModel #discount="ngModel">                                                                
                        </div>
                    </div>
                    
                    <div *ngIf="discount.value == true">
                        <div class="form-group row">
                            <label for="ticketDiscount" class="col-sm-4 col-form-label">Cena karte sa popustom: </label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="ticketDiscount" name="ticketDiscount" ngModel #ticketDiscount="ngModel" required>                               
                                    Unesite cenu karte sa popustom                                
                                </div>
                        </div>                        
                    </div>

                    <div class="form-group row">
                    <label for="travelLength" class="col-sm-4 col-form-label">Dužina puta(km): </label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="travelLength" name="travelLength" ngModel required #travelLength="ngModel">
                            <div *ngIf="flightForm.submitted && travelLength.invalid">
                            Unesite duzinu puta
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="travelTime" class="col-sm-4 col-form-label">Vreme leta</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="travelTime" name="travelTime" ngModel required #travelTime="ngModel" placeholder="hh:mm">
                            <div *ngIf="flightForm.submitted && travelTime.invalid">
                            Unesite vreme leta
                            </div>
                        </div>
                    </div>
                  
                    <div class="form-group row">
                        <label for="Presedanja" class="col-sm-4 col-form-label">Presedanja: </label>
                            <div class="col-sm-8">
                                <select class="form-control"
                                id="changeovers"
                                name="changeovers"
                                #changeovers                                
                                >
                                <option *ngFor="let dest of destinations" [value]="dest.dest">{{dest.dest}}</option>
                                </select>
                                <button type="button" class="btn btn-secondary" (click)="addChangeovers(changeovers.value)">Dodaj</button>
                                <table>
                                    <th>Presedanja</th>
                                    <tr *ngFor="let changeover of destChangeovers">
                                        <td >
                                            {{changeover}}
                                            <td><button type="button" class="btn btn-secondary" (click)="RemoveChangeover(changeover)">Izbriši</button>
                                            </td>
                                    </tr>
                                </table>
                                </div>
                        </div>

                </form>
            <div class="modal-footer">
            <button type="button"  class="btn btn-primary" data-dismiss="modal" (click)="resetFlightForm()">Odustani</button>
            <button type="submit" [disabled]="!flightForm.form.valid" class="btn btn-success" data-dismiss="modal" (click)="editFlightInfo()">Sačuvaj izmene</button>
            </div>
        <div>
    </div>
</div>


