<div class="register-page"> 
   
    <div class="row" >
        <b>Name:</b> <i><input type="text" id="user-name"></i>
    </div>
    <div class="row">
         <b>Lastname:</b> <i><input type="text" id="user-lastname"></i>
    </div>
    <div class="row" >
        <b>Phone number:</b> <i><input type="text" id="user-number"></i>
    </div>
    <div class="row">
         <b>City:</b> <i><input type="text" id="user-city"></i>
    </div><div class="row" >
        <b>Email:</b> <i><input type="text" id="user-email"></i>
    </div>
    <div class="row">
         <b>Password:</b> <i><input type="text" id="user-password"></i>
    </div>
    
<button (click) = "RegisterUser()">Register in</button>

</div>
