<div class="vehicle"> 
   
    <div class="row" >
        <b>Naziv: </b> {{vehicle.naziv}}
    </div>
    <div class="row">
        <b>Marka: </b> {{vehicle.marka}}
    </div>
    <div class="row">
        <b>Godina Proizvodnje: </b> {{vehicle.godinaProizvodnje}}
    </div>
    <div class="row">
        <b>Tip vozila: </b> {{vehicle.tipVozila}}
    </div>
    <div class="row">
        <b>Posecna ocena: </b> {{vehicle.prosecnaOcena}}
    </div>
    <div class="row">
        <b>Cena za dan: </b> {{vehicle.cenaZaDan}} (u dinarima)
    </div>
    
<!--button>Click</button-->

</div>