<div >    
    <div class="form-group row" >
        <b>Ime:</b> <i>{{regUser.name}}</i>
    </div>
    <div class="form-group row">
         <b>Prezime:</b> <i>{{regUser.lastname}}</i>
    </div>
    <div class="form-group row">
        <b>Email:</b> <i>{{regUser.email}}</i>
    </div>
    <div class="form-group row">
        <b> Grad:</b> <i>{{regUser.city}}</i>
    </div>
    <div class="form-group row">
        <b>Telefonski broj:</b> <i>{{regUser.phoneNumber}}</i>
    </div> 
</div>
<div>
    <br/><button class="change-profile" data-toggle="modal" data-target="#profileEdit">Izmeni profil</button>
</div>

<div class="modal fade" id="profileEdit" aria-labelledby="profileEdit" aria-hidden="true"  role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="profileEdit">Izmena podataka</h5>
        </div>
        <div class="modal-body">           
            <form [formGroup]="profileForm" >              
                <div class="form-group row">
                  <label for="profileName" class="col-sm-4 col-form-label">Ime: </label>
                  <div class="col-sm-8">
                    <input type="text" id="profileName" formCotrolName="profileName" class="form-control" placeholder="Unesi ime">
                    <div *ngIf="profileForm.controls.profileName.invalid">
                        Unesite svoje ime
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="lastname" class="col-sm-4 col-form-label">Prezime: </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="lastname" formCotrolName="profileLastName" placeholder="Unesite prezime">
                    <div *ngIf="profileForm.controls.profileLastName.invalid">
                      Unesite svoje prezime
                  </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Email: </label>
                  <div class="col-sm-8">
                      <input type="text" class="form-control" id="email" formCotrolName="profileEmail" placeholder="Unesite email">
                      <div *ngIf="profileForm.controls.profileEmail.invalid">
                        Unesite svoj email
                      </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="city" class="col-sm-4 col-form-label">Grad: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="city" formCotrolName="profileCityName" placeholder="Unesite grad">
                        <div *ngIf="profileForm.controls.profileCityName.invalid">
                          Unesite grad
                        </div>
                      </div>
                </div>

                <div class="form-group row">
                    <label for="city" class="col-sm-4 col-form-label">Broj telefona: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="phoneNumber" formCotrolName="profilePhoneNumber" placeholder="Unesite broj telefona">
                        <div *ngIf="profileForm.controls.profileCityName.invalid">
                          Unesite broj telefona
                        </div>
                      </div>
                </div>
            </form>
            <div class="modal-footer">
              <button type="button"  class="btn btn-primary" data-dismiss="modal">Odustani</button>
              <button type="submit" [disabled]="!profileForm.valid" class="btn btn-success" data-dismiss="modal" (click)="editProfileInfo()">Sačuvaj izmene</button>
            </div>
          <div>
        </div>
      </div>
  </div> 